/Makefile
/bin/*
!/bin/*.mk
/data/desktop/*.desktop
/data/desktop/*.desktop.in
/data/dbus/*.service
/gi/*.gir
/gi/*.typelib
/data/pkg-config/*.pc
/man/*.1
/po/Makefile
/src/applets/gnome-shell/metadata.json
/src/applets/legacy/*.c
/src/gpaste-settings/*.c
/vapi/*.vapi
!/vapi/config.vapi
