gpasted
!src/gpasted
gpaste
*.c
Makefile
gpasted.history
.aux
ABOUT-NLS
Makefile.in
aclocal.m4
autom4te.cache
config*
!configure.ac
intl
m4
.deps
*stamp*
Makefile.in.in
Makevars.template
Rules-quot
boldquot.sed
en@boldquot.header
en@quot.header
insert-header.sin
quot.sed
remove-potcdate.sin
*.gmo

