/Makefile
/bin/*
!/bin/*.mk
/data/*.desktop
/data/*.gschema.xml
/data/*.gschema.xml.in
/data/*.service
/gi/*.gir
/gi/*.typelib
/libgpaste/*.pc
/man/*.1
/po/Makefile
/src/applets/gnome-shell/metadata.json
/src/applets/legacy/*.c
/src/gpaste-settings/*.c
/src/*.c
/vapi/*.vapi
!/vapi/config.vapi
